# Node / general
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.DS_Store
*.log
.tmp/
temp/
.cache/

# Remix/Builds
build/
dist/
public/build/
.server/
.vercel/

# Shopify CLI / Extensiones
.shopify-cli/
extensions/**/dist/
extensions/**/build/

# Prisma / DB local
prisma/dev.db
prisma/dev.db-journal

# Entornos
.env
.env.*
!.env.example
